.vscode/settings.json
zig-cache/
zig-out/
.zig-cache
external/glfw/CMakeFiles/
external/glfw/examples/
external/glfw/src/CMakeFiles/
external/glfw/tests
external/glfw/src/*.cmake
external/glfw/src/.cmake*
external/glfw/cmake*
